#!/usr/bin/env nextflow

params {
    Path_Seq_qual = "${baseDir}/LRTK-SIM/resources/error_profile_reads.txt"
    Path_Barcode_qual = "${baseDir}/LRTK-SIM/resources/error_profile_barcode.txt"
    outdir = 'outs'
}

process {
    executor = 'local'
    memory = '4GB'
    cpus = 1
}

executor {
    name = 'local'
    cpus = 10
    memory = '16GB'
    queueSize = 100
}

// Capture exit codes from upstream processes when piping.
process.shell = ['/bin/bash', '-euo', 'pipefail']
